body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 200px;
  display: flex;
  background-color: rgb(182, 222, 243);
}

.card {
  background: rgb(233, 199, 199);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  text-align: center;
  width: 300px;
}

.profile-img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.links a {
  margin: 0 10px;
  text-decoration: none;
  color: #0077cc;
  font-weight: bold;
}